wcf/ejemplo_completo/client/App_WebReferences/RemoteServiceReference/CalendarService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CalendarService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58492/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58492/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalendarService_GetDayFronNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDayFronNumber" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetDayFronNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDayFronNumberResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetDayFromName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDayFromName" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetDayFromName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDayFromNameResponse" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetDayFromDate_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDayFromDate" />
  </wsdl:message>
  <wsdl:message name="ICalendarService_GetDayFromDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDayFromDateResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalendarService">
    <wsdl:operation name="GetDayFronNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/GetDayFronNumber" message="tns:ICalendarService_GetDayFronNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/GetDayFronNumberResponse" message="tns:ICalendarService_GetDayFronNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDayFromName">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/GetDayFromName" message="tns:ICalendarService_GetDayFromName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/GetDayFromNameResponse" message="tns:ICalendarService_GetDayFromName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDayFromDate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalendarService/GetDayFromDate" message="tns:ICalendarService_GetDayFromDate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalendarService/GetDayFromDateResponse" message="tns:ICalendarService_GetDayFromDate_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalendarService" type="tns:ICalendarService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDayFronNumber">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/GetDayFronNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDayFromName">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/GetDayFromName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDayFromDate">
      <soap:operation soapAction="http://tempuri.org/ICalendarService/GetDayFromDate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalendarService">
    <wsdl:port name="BasicHttpBinding_ICalendarService" binding="tns:BasicHttpBinding_ICalendarService">
      <soap:address location="http://localhost:58492/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>